.cards__item {
    list-style: none;
    margin: 1rem 0;
  }

  .card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .card__info {
    flex: 2;
  }

  .card__image img {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
  }
